{% extends "layout.html" %}
{% block content %}
			<div class="parent">
				<div class='header radio-group'>
					<input type="radio" id="item" name="template" value="Item" checked>
					<label for="item">Item</label>
					<input type="radio" id="weapon" name="template" value="Weapon">
					<label for="weapon">Weapon</label>
					<input type="radio" id="monster" name="template" value="Monster">
					<label for="monster">Monster</label>
				</div>
				<div id="template" class="left-side">
				</div>
				<textarea id="format" rows="30" cols="80" readonly class="right-side"></textarea>
				<button id="copyButton" onclick="copyFormat()">Copy</button>
			</div>
			<script src="/static/formatter.js"></script>
{% endblock %}